html,
body{
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  font-family: arial;
}
h1 {
  text-align: center;
  text-transform: capitalize;
}
nav {
  display: block;
  width: 100%;
  text-align: center;
}
nav ul{
  list-style: none;
  padding: 0;
}
nav li{
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  margin: 0;
  background: #888;
  color: #fff;
  padding: 10px 10px;
  background: #888;
}
nav li span{
  background: #888;
}
nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  text-align: center;
  margin-top: 10px;
  display: none;
  width: 100%;
  background: #888;
  z-index: 100;
}
nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}
nav a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
nav a:hover {
  background: #999;
}
.container {
  margin: 0 10%;
}
.container section {
  padding: 20px;
}
.container section.level {
  display: none;
}
.gallery {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.frame {
  width: 100%;
}
@media screen and (min-width: 1300px) {
  .frame {
    width: 50%;
  }
}
.frame img {
  width: 100%;
  display: inline-block;
}
