html,
body{
  border: 0;
  margin: 0;
  padding: 0;
}
html{
  background: #111;
}
body {
  background: transparent;
  color: #ddd;
}
h1 {
  padding: 20px;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo-img {
  height: 80px;
  width: auto;
  text-align: center;
  padding: 10px;
}
h1 {
  text-align: center;
  text-transform: capitalize;
}
@media screen and (max-width: 575px) {
  nav.navbar {
    justify-content: flex-end;
  }
  nav a.nav-link {
    text-align: center;
  }
}
.bg-custom {
  background: #3b77b4;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.container section.level {
  padding: 20px;
  display: none;
}
.gallery {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.frame {
  width: 100%;
}
@media screen and (min-width: 1300px) {
  .frame {
    width: 50%;
  }
}
.frame img {
  width: 100%;
  display: inline-block;
}
