nav {

}
nav a {
  background: #888;
  color: #fff;
  border: 1px solid #888;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 5px;
}
nav a:hover {
  background: #999;
}
.container section {
  display: none;
}
